<section id="upper" class="d-flex justify-content-around">
  <div class="upper-header-div">
    <ul class="list-unstyled d-flex m-0">
      <li class="me-2 upper-btn">
        <a href="#" class="text-decoration-none">
          <span>Personal</span>
        </a>
      </li>
      <li class="me-2 upper-btn">
        <a href="#" class="text-decoration-none">
          <span>Pro</span>
        </a>
      </li>
      <li class="upper-btn">
        <a href="#" class="text-decoration-none">
          <span>Institutional</span>
        </a>
      </li>
    </ul>

  </div>
  <div class="upper-header-div">
    <ul class="list-unstyled d-flex m-0">
      <li class="me-2 upper-btn">
        <a href="#" class="text-decoration-none">
          <span>Community</span>
        </a>
      </li>
      <li class="me-2 upper-btn">
        <a href="#" class="text-decoration-none">
          <span>Academy</span>
        </a>
      </li>
      <li class="me-2 upper-btn">
        <a href="#" class="text-decoration-none">
          <span>Help</span>
        </a>
      </li>
    </ul>
    <button id="login">Log in</button>
    <button id="create">Create live account</button>
  </div>
</section>
