<header data-aos="zoom-in">
    <div class="container d-flex  align-items-center   py-lg-4 p-md-3 py-sm-1">

        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="index.html" class="logo mr-auto d-none d-block-lg "><img height="75px" src="../../assets/img/logo/logo_white_text.png" alt=""></a>

        <a href="index.html" class="logo mr-auto d-block-sm"><img width="300px" src="../../assets/img/logo/logo_white_text.png" alt=""></a>

            <h5 class="text-white  pull-right">
                <em class="bx bx-phone"></em> +44 203 734 10 25
            </h5> 
    </div>

</header>