<section id="lower" class="d-flex justify-content-between align-items-center">
  <div>
    <a href="" id="logo" class="text-decoration-none">
      <span>IG</span>
    </a>
  </div>
  <div id="middle">
    <ul class="list-unstyled d-flex m-0 gap-2">
      <li>
        <a href="" class="text-decoration-none">
          <span>About us</span>
        </a>
      </li>
      <li>
        <a href="" class="text-decoration-none">
          <span>CFD trading</span>
        </a>
      </li>
      <li>
        <a href="" class="text-decoration-none">
          <span>Market to trade</span>
        </a>
      </li>
      <li>
        <a href="" class="text-decoration-none">
          <span>Share to trade</span>
        </a>
      </li>
    </ul>
  </div>
  <div>3</div>
</section>
