/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.account-banner{
  background-image: url('../../assets/img/background/Login_Screen.png');
  height: 850px;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: top;
}