
        <div id="preloader"></div>
        <header class="header-one">
            <!-- Start top bar -->
            <div class="topbar-area fix hidden-xs">
                <div class="container">
                    <div class="row">
                       <div class="col-md-6 col-sm-6">
                           <div class="topbar-left">
                                <ul>
                                    <li><a href="#"><i class="fa fa-envelope"></i> info@aievari4.com</a></li>
                                    <li><a href="#"><i class="fa fa-phone"></i> +909-654-9805</a></li>
                                </ul>
							</div>
                        </div>
                        <div class=" col-md-6 col-sm-6">
                            <div class="topbar-right">
                                <div class="top-social">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    </ul> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End top bar -->
            <!-- header-area start -->
            <div id="sticker" class="header-area hidden-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="row">
                                <!-- logo start -->
                                <div class="col-md-3 col-sm-3">
                                    <div class="logo">
                                        <!-- Brand -->
                                        <a class="navbar-brand page-scroll white-logo" href="index-2.html">
                                            <img src="../../assets/img/logo/logo3.png" alt="">
                                        </a>
                                        <a class="navbar-brand page-scroll black-logo" href="index-2.html">
                                            <img src="../../assets/img/logo/logo3.png" alt="">
                                        </a>
                                    </div>
                                    <!-- logo end -->
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <div class="header-right-link">
                                        <!-- search option end -->
                                        <a class="s-menu" href="login.html">Login</a>
                                    </div>
                                    <!-- mainmenu start -->
                                    <nav class="navbar navbar-default">
                                        <div class="collapse navbar-collapse" id="navbar-example">
                                            <div class="main-menu">
                                                <ul class="nav navbar-nav navbar-right">
                                                    <li><a class="pages" href="index-2.html">Home</a>
                                                        <ul class="sub-menu">
                                                            <li><a href="index-2.html">Home 01</a></li>
                                                            <li><a href="index-3.html">Home 02</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="about.html">About us</a></li>
                                                    <li><a href="investment.html">Investment</a></li>
                                                    <li><a class="pages" href="#">Pages</a>
                                                        <ul class="sub-menu">
                                                            <li><a href="team.html">team</a></li>
                                                            <li><a href="faq.html">FAQ</a></li>
                                                            <li><a href="review.html">Reviews</a></li>
                                                            <li><a href="login.html">Login</a></li>
                                                            <li><a href="signup.html">Register</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a class="pages" href="#">Blog</a>
                                                        <ul class="sub-menu">
                                                            <li><a href="blog.html">Blog grid</a></li>
                                                            <li><a href="blog-sidebar.html">Blog Sidebar</a></li>
                                                            <li><a href="blog-details.html">Blog Details</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="contact.html">contacts</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </nav>
                                    <!-- mainmenu end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-area end -->
            <!-- mobile-menu-area start -->
            <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mobile-menu">
                                <div class="logo">
                                    <a href="index-2.html"><img src="../../assets/img/logo/logo.png" alt="" /></a>
                                </div>
                                <nav id="dropdown">
                                    <ul>
                                        <li><a class="pages" href="index-2.html">Home</a>
                                            <ul class="sub-menu">
                                                <li><a href="index-2.html">Home 01</a></li>
                                                <li><a href="index-3.html">Home 02</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about.html">About us</a></li>
                                        <li><a href="investment.html">Investment</a></li>
                                        <li><a class="pages" href="#">Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="team.html">team</a></li>
                                                <li><a href="faq.html">FAQ</a></li>
                                                <li><a href="review.html">Reviews</a></li>
                                                <li><a href="login.html">Login</a></li>
                                                <li><a href="signup.html">Register</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="pages" href="#">Blog</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog.html">Blog grid</a></li>
                                                <li><a href="blog-sidebar.html">Blog Sidebar</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">contacts</a></li>
                                    </ul>
                                </nav>
                            </div>					
                        </div>
                    </div>
                </div>
            </div>
            <!-- mobile-menu-area end -->		
        </header>
        <!-- header end -->
    <!-- Start breadcumb Area -->
    <div class="page-area">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb text-center">
                        <div class="section-headline white-headline">
                            <h3>Login</h3>
                        </div>
                        <ul class="breadcrumb-bg">
                            <li class="home-bread">Home</li>
                            <li>Login</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcumb Area -->
    <!-- Start Slider Area -->
    <div class="login-area page-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="login-page">
                        <div class="login-form">
                            <h4 class="login-title">LOGIN</h4>
                            <div class="row">
                                <form id="contactForm" method="POST" action="http://rockstheme.com/rocks/aievari-live/contact.php" class="log-form">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" id="name" class="form-control" placeholder="Username" required data-error="Please enter your name">
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="password" id="msg_subject" class="form-control" placeholder="Password" required data-error="Please enter your message subject">
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="check-group flexbox">
                                            <label class="check-box">
                                                <input type="checkbox" class="check-box-input" checked>
                                                <span class="remember-text">Remember me</span>
                                            </label>

                                            <a class="text-muted" href="#">Forgot password?</a>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <button type="submit" id="submit" class="login-btn">Login</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div> 
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="clear"></div>
                                        <div class="separetor"><span>Or with Sign</span></div>
                                        <div class="sign-icon">
                                            <ul>
                                                <li><a class="facebook" href="#">Facebook</a></li>
                                                <li><a class="twitter" href="#">twitter</a></li>
                                                <li><a class="google" href="#">google+</a></li>
                                            </ul>
                                            <div class="acc-not">Don't have an account  <a href="signup.html"> Sign up</a></div>
                                        </div> 
                                    </div> 
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
       
		