.Stocks {
    /* border: ridge 1px rgb(255, 0, 0); */ 
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 118px;
    z-index: 10;
} 

.blink_ {
    animation: blinker 1.7s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.6;
    }
} 

@media screen and (max-width: 768px) {
    .Stocks { 
        top: 105px; 
    }
}


@media screen and (max-width: 992px) {
    .Stocks { 
        top: 102px; 
    }
}