<!-- <app-topbar>
</app-topbar> -->

<!-- <app-header2></app-header2> -->

<!-- ======= Header 2 ======= -->
<header class="header fixed-top header-scrolled " data-aos="zoom-in">
    <div class="container d-flex align-items-center py-3 ">

        <a id="main-logo" routerLink="" class="logo mr-auto"><img src="../assets/img/logo/logo_white_text.png" alt=""></a>
        <div class="contact-info mr-auto d-none text-white d-lg-block">
            <i class="icofont-email text-white"></i> <a href="mailto:info@doksinterational.com" style="color:white;"> info@doksinternational.com </a>
            <span class="px-3"></span>
            <i class="icofont-phone"></i> +94 11 429 4747 / 4748
        </div>
        <nav class="nav-menu d-none d-lg-block  ">
        <div class="row">
            <ul>
                <li><a routerLink="">Home</a></li>

            </ul>
            <ul>
                <li><button (click)="logout()">Logout</button></li>

            </ul>
        </div>
        </nav>

    </div>

</header>
<!-- End Header -->

<main id="main" class="main-edu">
    <section class="education-services">
        <div class="container section" data-aos="fade-up">
            <div class="text-center my-2 section-title">
                <h3 data-aos="fade-up" data-aos-delay="100">Welcome to 
                    <span> DOKS </span>
                </h3>
                <br>

                <h6 class="m-auto">
                    Trade as a pro with DOKS. We will awake the Super Trader within you with proper guidance, education, Live market updates, financial news, and streaming services.
                </h6>

            </div>
            <div class="education bg-white" style="margin: auto; width: 50%;">
                <div class="mt-3  pb-5">
                <div class="py-3" id="login" >
                    <form #f="ngForm" >
                        <br>
                        <br>
                        <div class="form-group">
                            <div class="col-12  ">
                                <input type="text" id="address" class="form-control" placeholder="Address" formControlName="address">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-12  ">
                                <input type="text" id="nic" class="form-control" placeholder="NIC/Passport" formControlName="nic">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-12  ">
                                <label>Country of Residence:
                                    <input list="country" name="country" /></label>
                                    <datalist id="country">
                                      <option value="Sri Lanka">
                                      <option value="Not in Sri Lanka">
                                    </datalist>                            
                                </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label style="margin-left: 10px;">Do you have any prior experience in Trading? If so, in what medium?</label>
                            <div class="col-12" style="margin-left: 10%;">
                                <input type="checkbox" id="noExp" name="noExp" value="No Experience">
                                <label for="vehicle1"> No Experience</label><br>
                                <input type="checkbox" id="local" name="local" value="Local stock market">
                                <label for="vehicle2"> Local stock market</label><br>
                                <input type="checkbox" id="foreign" name="foreign" value="Foreign stock market">
                                <label for="vehicle3">Foreign stock market</label><br>
                                <input type="checkbox" id="forex" name="forex" value="Forex">
                                <label for="vehicle1"> Forex</label><br>
                                <input type="checkbox" id="options" name="options" value="Options">
                                <label for="vehicle2"> Options</label><br>
                                <input type="checkbox" id="crypto" name="crypto" value="Crypto">
                                <label for="vehicle3">Crypto</label><br>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-12  ">
                                <label>Do you have any prior experience in Trading? If so, how long?
                                    <input list="experience" name="experience" /></label><br>
                                    <datalist id="experience">
                                      <option value="No Experience">
                                      <option value="Less than 6 months">
                                     <option value="6 months to 2 years">
                                    <option value="More than 2 years">
                                    </datalist>                            
                                </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-12  ">
                                <input type="text" id="nonSlCountry" class="form-control" placeholder="Country if not SL" formControlName="nonSlCountry">
                            </div>
                        </div>
                        <br>
                        <div>
                            <div class="form-group" >
                                <label style="margin-left: 10px;">Rate your computer Literacy</label><br>

                                <div class="col-12  " style="margin: auto; width: max-content;">
                                    <label for="f-option" class="l-radio">
                                    <input type="radio" id="f-option" name="selector" tabindex="1">
                                    <span style="padding-right: 10px;">1</span>
                                    </label>
                                    <label for="s-option" class="l-radio">
                                    <input type="radio" id="s-option" name="selector" tabindex="2">
                                    <span style="padding-right: 10px;">2</span>
                                    </label>
                                    <label for="t-option" class="l-radio">
                                    <input type="radio" id="t-option" name="selector" tabindex="3">
                                    <span style="padding-right: 10px;">3</span>
                                    </label>
                                    <label for="f-option" class="l-radio">
                                    <input type="radio" id="f-option" name="selector" tabindex="4">
                                    <span style="padding-right: 10px;">4</span>
                                    </label>
                                    <label for="s-option" class="l-radio">
                                    <input type="radio" id="s-option" name="selector" tabindex="5">
                                    <span style="padding-right: 10px;">5</span>
                                    </label>
                                    <label for="t-option" class="l-radio">
                                    <input type="radio" id="t-option" name="selector" tabindex="6">
                                    <span style="padding-right: 10px;">6</span>
                                    </label>
                                    <label for="t-option" class="l-radio">
                                    <input type="radio" id="t-option" name="selector" tabindex="7">
                                    <span style="padding-right: 10px;">7</span>
                                    </label>
                                    <label for="f-option" class="l-radio">
                                    <input type="radio" id="f-option" name="selector" tabindex="8">
                                    <span style="padding-right: 10px;">8</span>
                                    </label>
                                    <label for="s-option" class="l-radio">
                                    <input type="radio" id="s-option" name="selector" tabindex="9">
                                    <span style="padding-right: 10px;">9</span>
                                    </label>
                                    <label for="t-option" class="l-radio">
                                    <input type="radio" id="t-option" name="selector" tabindex="10">
                                    <span style="padding-right: 10px;">10</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group" >
                                <label style="margin-left: 10px;">Rate your English proficiency</label><br>

                                <div class="col-12  " style="margin: auto; width: max-content;">
                                    <label for="f-option" class="l-radio">
                                    <input type="radio" id="f-option" name="selector" tabindex="1">
                                    <span style="padding-right: 10px;">1</span>
                                    </label>
                                    <label for="s-option" class="l-radio">
                                    <input type="radio" id="s-option" name="selector" tabindex="2">
                                    <span style="padding-right: 10px;">2</span>
                                    </label>
                                    <label for="t-option" class="l-radio">
                                    <input type="radio" id="t-option" name="selector" tabindex="3">
                                    <span style="padding-right: 10px;">3</span>
                                    </label>
                                    <label for="f-option" class="l-radio">
                                    <input type="radio" id="f-option" name="selector" tabindex="4">
                                    <span style="padding-right: 10px;">4</span>
                                    </label>
                                    <label for="s-option" class="l-radio">
                                    <input type="radio" id="s-option" name="selector" tabindex="5">
                                    <span style="padding-right: 10px;">5</span>
                                    </label>
                                    <label for="t-option" class="l-radio">
                                    <input type="radio" id="t-option" name="selector" tabindex="6">
                                    <span style="padding-right: 10px;">6</span>
                                    </label>
                                    <label for="t-option" class="l-radio">
                                    <input type="radio" id="t-option" name="selector" tabindex="7">
                                    <span style="padding-right: 10px;">7</span>
                                    </label>
                                    <label for="f-option" class="l-radio">
                                    <input type="radio" id="f-option" name="selector" tabindex="8">
                                    <span style="padding-right: 10px;">8</span>
                                    </label>
                                    <label for="s-option" class="l-radio">
                                    <input type="radio" id="s-option" name="selector" tabindex="9">
                                    <span style="padding-right: 10px;">9</span>
                                    </label>
                                    <label for="t-option" class="l-radio">
                                    <input type="radio" id="t-option" name="selector" tabindex="10">
                                    <span style="padding-right: 10px;">10</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div lass="form-group ">
                            <div class="text-center w-100">
                                <button class="btn-orange btn btn-block w-25"  #submitBtn>Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
                </div>
            </div>
            <div class="section-title">
                <button class="btn-orange mt-5 mb-0" [routerLink]="['/education']">Login to Student Portal</button>
            </div>

            <section id="webinarLogin" class="webinarLogin">
                <div class="container" data-aos="fade-up">
        
                    <div class="section-title">
                        <h2>Learn How to Trade</h2>
                        <h3>Upcoming Seminars & Webinars</h3>
                    </div>
        
                    <div class="row no-gutter">
        
                        <div class="col-lg-6 col-md-6  " data-aos="fade-up" data-aos-delay="200">
                            <div class="box py-5">
                                <h2>Webinars</h2>
                                <h5>Boost your trading with <br> DOKS's educational material</h5>
                                <a href="#" class="btn-text ">Get Now</a>
        
                            </div>
                        </div>
        
        
                        <div class="col-lg-6 col-md-6  " data-aos="fade-up" data-aos-delay="200">
                            <div class="box py-5">
                                <h2>Seminars </h2>
                                <h5> Get world-class trading knowledge from <br> DOKS’s team of experts</h5>
                                <a href="#" class="btn-text  ">Get Now</a>
        
                            </div>
                        </div>
        
                    </div>
                </div>
            </section>

        </div>
    </section>
</main>
