<!-- <app-topbar>
</app-topbar> -->

<!-- <app-header2></app-header2> -->

<!-- ======= Header 2 ======= -->
<header class="header fixed-top header-scrolled " data-aos="zoom-in">
    <div class="container d-flex align-items-center py-3 ">

        <a id="main-logo" routerLink="" class="logo mr-auto"><img src="../assets/img/logo/logo_white_text.png" alt=""></a>
        
        <nav class="nav-menu d-none d-lg-block  ">
        <div class="row">
            <ul style="margin: auto;">
                <li><a routerLink="">Home</a></li>
            </ul>
            <ul>
                <li><button  class="btn-orange btn btn-block" (click)="logout()">Payment</button></li>
            </ul>
            <ul>
                <li><button  class="btn-orange btn btn-block" (click)="logout()">Logout</button></li>
            </ul>
        </div>
        </nav>

    </div>

</header>
<!-- End Header -->

<main id="main" class="main-edu">
    <section class="education-services">
        <div class="container section" data-aos="fade-up">
            <div class="text-center my-2 section-title">
                <h3 data-aos="fade-up" data-aos-delay="100" style="font-size: xxx-large;">Welcome to 
                    <span> DOKS </span>
                </h3>
                <br>

                <h5 class="m-auto">
                    Trade as a pro with DOKS. We will awake the Super Trader within you with proper guidance, education, Live market updates, financial news, and streaming services.
                </h5>

            </div>
         
            <div class="section-title">
                <h5 class="m-auto">
                    <div class="row">
                        <div class="col-md-6" >
                            <a href="https://forms.gle/LoSCoHj63tgqfHZY9">
                    <button class="btn-orange mt-1 mb-0"  style="width: 75%;">Enrolment Form</button>
                    </a>
                    </div>                        
                    <div class="col-md-6">
                        <a href="https://storage.cloud.google.com/doks-admin.appspot.com/COMPLETE%20FOUNDATION%20STOCK%20TRADING%20COURSE%20(DCFSTC%201000)%202.pdf">
                    <button class="btn-orange mt-1 mb-0"  style="width: 75%;">Course Content</button>
                </a>
                    </div>
                </div>
                </h5>
            </div>

            <section id="webinarLogin" class="webinarLogin" style="padding-top: 10px;">
                <div class="container" data-aos="fade-up">
        
                    <div class="section-title">
                        <h3>Upcoming Seminars & Webinars</h3>
                    </div>
        
                    <div class="row no-gutter">
        
                        <div class="col-lg-6 col-md-6  " data-aos="fade-up" data-aos-delay="200">
                            <div class="box py-5">
                                <h2>Webinars</h2>
                                <h5>Boost your trading with <br> DOKS's educational material</h5>
                                <a href="/portal" class="btn-text ">Get Now</a>
        
                            </div>
                        </div>
        
        
                        <div class="col-lg-6 col-md-6  " data-aos="fade-up" data-aos-delay="200">
                            <div class="box py-5">
                                <h2>Seminars </h2>
                                <h5> Get world-class trading knowledge from <br> DOKS’s team of experts</h5>
                                <a href="/portal" class="btn-text  ">Get Now</a>
        
                            </div>
                        </div>
        
                    </div>
                </div>
            </section>

        </div>
    </section>
</main>
