.form-group {
    color: black !important
  }

/*--------------------------------------------------------------
# webinar
#041334
#ffa600
--------------------------------------------------------------*/

.webinarLogin .box {
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(12, 11, 11, 0.12);
  border-radius: 2rem;
  background-color: #fafafa;
  /* position: relative; */
  overflow: hidden;
  transition: 0.3s;
  margin: 20px;
}

.webinarLogin .box h5 {
  font-weight: 400;
  padding: 20px 15px;
  color: #041334;
}

.webinarLogin .box h2 {
  font-size: 36px;
  color: #041334;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.webinarLogin .btn-text {
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 50px;
  color: #041334;
  border: solid 1px #041334;
  font-size: 16px;
  padding: 10px 50px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.webinarLogin .box:hover {
  color: #fff !important;
  /* margin: 10px; */
}

.webinarLogin .box:hover h5,
.webinarLogin .box:hover h2 {
  color: #ffa600;
}

.webinarLogin .box:hover .btn-text {
  background: #ffa600;
  background: #fff;
  background: #fff;
  background: #fff;
  background: #fff;
  color: #ffa600;
}

.webinarLogin .featured h3 {
  color: #fff;
  background: #ffa600;
}

.webinarLogin .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #ea9e10;
  color: #fff;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;  
  border-radius: 1rem;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 1rem;
  border:none;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.dropdown img{
  display: inline-block;
  background: #B2BEB5;
  height: 2.5rem;
  vertical-align:middle;
  margin-right: 1rem;
  margin: .5rem .75rem .5rem .5rem;
  border-radius: 50%;
}




  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }

  .flip-card:hover{
    padding-left: 40px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
   
    transform: rotateY(180deg);
  }