
<div id="head" style="background-image:url('assets/img/background/body_bg.jpg');">

    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- <div id="preloader"></div> -->

    <!-- header end -->
    <!-- Start Intro Area -->
    <div class="slide-area fix" data-stellar-background-ratio="0.6">
        <div class="display-table">
            <div class="display-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <!-- Start Slider content -->
                            <div class="slide-content text-center">
                                <h2 class="title2">Live Traders, Live Performance, Innovative Training</h2>
                                <div class="layer-1-3">
                                    <a  routerLink="/register" class="ready-btn left-btn" >Get started</a>
                                    <!-- <div class="video-content">
                                        <a href="https://www.youtube.com/watch?v=nRnOVZLbDU4" class="video-play vid-zone">
                                            <i class="fa fa-play"></i>
                                            <span>watch video</span>
                                        </a>
                                    </div> -->
                                </div>
                            </div>
                            <!-- End Slider content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Intro Area -->

    <!-- News Line -->
    <div class="container-news">
        <div class="scrolling-text" [@scroll]="state" (@scroll.done)="scrollDone()">Registration opens on 01st July.  Stay Tuned...</div>
    </div>
    <!-- End News Line -->

    <!-- Start Count area -->
    <div class="counter-area fix ">
        <div class="container">
            <!-- Start counter Area -->
            <!--
             <div class="row">
                <div class="fun-content">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="fun_text">
                            <span class="counter-icon"><i class="flaticon-035-savings"></i></span>
                            <span class="counter">$5974544</span>
                            <h4>Total Deposited</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="fun_text">
                           <span class="counter-icon"><i class="flaticon-034-reward"></i></span>
                            <span class="counter">2209</span>
                            <h4>Total Members</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="fun_text">
                           <span class="counter-icon"><i class="flaticon-016-graph"></i></span>
                            <span class="counter">$3974544</span>
                            <h4>Total Payments</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="fun_text">
                          <span class="counter-icon"><i class="flaticon-043-world"></i></span>
                            <span class="counter">80</span>
                            <h4>World Country</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <!-- End Count area -->

     <!-- Start Work proses Area -->
     <div style="padding-top: 30px; background: #e2e4ec;" class="work-proses fix bg-color">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h3>Become a Pro Trader with DOKS.</h3>
                        <p>Trade as a pro with DOKS. We will awake the Super Trader within you with proper guidance, education, Live market updates, financial news, and streaming services.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="work-proses-inner text-center">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="single-proses">
                                    <div class="proses-content">
                                        <div class="proses-icon point-blue">
                                            <span class="point-view">01</span>
                                            <a href=""><i class="ti-book"></i></a>
                                        </div>
                                        <div class="proses-text">
                                            <h4>Learn</h4>
                                            <p style="margin-left: 10px; text-align: justify;">We employ best people and invest in advanced and cutting-edge technologies to ensure that our students learn effectively and acquire the fundamental and technical skills for consistency in theirtrading.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End column -->
                            <div class="col-md-4 col-sm-4 col-xs-12" >
                                <div class="single-proses">
                                    <div class="proses-content">
                                        <div class="proses-icon point-orange">
                                           <span class="point-view">02</span>
                                            <a href=""><i class="ti-stats-up"></i></a>
                                        </div>
                                        <div class="proses-text">
                                            <h4>Trade</h4>
                                            <p style="text-align: justify;">DOKS group of professional trainers focus on trader skill development and understanding, by using advanced proprietary technologies to boost trader’s ability to recall market patterns and to develop trading strategies that cater for a person’s unique personality and temperament.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End column -->
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="single-proses last-item">
                                    <div class="proses-content">
                                        <div class="proses-icon point-green">
                                           <span class="point-view">03</span>
                                            <a href=""><i class="ti-money"></i></a>
                                        </div>
                                        <div class="proses-text">
                                            <h4>Profit</h4>
                                            <p style="margin-right: 50px;text-align:justify;">Our daily briefings are designed with most accurate financial data and analysis so you can Learn what’s happening in the world of investing in just 5 minutes. We select investing insights from the world’s top investing experts.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End column -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Work proses Area -->

 
    <!-- Start Support-service Area -->
    <div class="support-service-area fix area-padding-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h3 style="color: aliceblue;">What makes DOKS International Unique?</h3>
                        <p style="color: aliceblue;">Most of the times you will see investing products and training focus on either fundamental or technical analysis. Our research shows the way to succeed in the market you need both to get the complete picture. We accomplish our mission by delivering actionable investing content, comprehensive tools, and educational resources to help you make smarter trading decisions.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="support-all">
                    <!-- Start About -->
                    <div class="col-md-6 col-sm-6 col-xs-12" >
                        <div style="color: black; height: 270px;" class="support-services wow ">
                            <a class="support-images" href="#"><i class="flaticon-023-management"></i></a>
                            <div class="support-content">
                                <h4>Proficiency</h4>
                                <p>Our US and Global market research & analysis are done by professional traders and researchers.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Start About -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="support-services " style="height: 270px;">
                            <a class="support-images" href="#"><i class="flaticon-036-security"></i></a>
                            <div class="support-content">
                                <h4>Trust</h4>
                                <p>DOKS International is a company which holds the trust of clients over a decade in USA and now expanding its wings to Sri Lanka.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Start services -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="support-services " style="height: 270px;">
                            <a class="support-images" href="#"><i class="flaticon-003-approve"></i></a>
                            <div class="support-content">
                                <h4>Support</h4>
                                <p>Weekly Trainings, Q & A sessions, live stream sessions, tips, and a customer care crew who’s passionate in assisting you!</p>
                            </div>
                        </div>
                    </div>
                    <!-- Start services -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="support-services" style="height: 270px;">
                            <a class="support-images" href="#"><i class="flaticon-042-wallet"></i></a>
                            <div class="support-content">
                                <h4>Research</h4>
                                <p>We offer timely, integrated analysis of companies, sectors, markets and economies, helping clients with their most critical decisions.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Start services -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="support-services " style="height: 270px;">
                            <a class="support-images" href="#"><i class="flaticon-032-report"></i></a>
                            <div class="support-content">
                                <h4>Mentorship</h4>
                                <p>Enhance your learning with mentorship & guidance designed around your schedule by our experienced Traders</p>
                            </div>
                        </div>
                    </div>
                    <!-- Start services -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="support-services" style="height: 270px;">
                            <a class="support-images" href="#"><i class="flaticon-024-megaphone"></i></a>
                            <div class="support-content">
                                <h4>Psychology</h4>
                                <p> Develop your mindset for sophisticatedresults with a newapproach to trade like a pro.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Support-service Area -->
    <!-- Start Self-area -->
    <!-- <div class="self-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="self-content">
                        <h4>An investment multi-national firm is a invest money of one or more experts. Provides more profite, We help your satele to future life and then create the road. Grow Money speedly without any risk. </h4>
                        <span class="talk-text">Alex ferneld, Co Founder</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="self-content">
                        <h4>An investment multi-national firm is a invest money of one or more experts. Provides more profite, We help your satele to future life and then create the road. Grow Money speedly without any risk. </h4>
                        <span class="talk-text">Alex ferneld, CEO</span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Self-area -->
   
       <!-- Start Invest area -->
       <!-- <div class="invest-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h3  style="color: aliceblue; padding-top: 50px;">Transform your Trading path through education</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                   
                    <div class="container col-md-4 col-sm-6 col-xs-12">
                        <div style="background-color: aliceblue;" class="pri_table_list">
                            <div class="top-price-inner">
                               <div class="rates">
                                    <span class="prices">Beginner </span>
                                </div>
                                <span class="per-day">Free</span>
                            </div>
                            <ol class="pricing-text">
                                <li class="check">Basics to E-Education</li>
                                <li class="check">Live updates on news & events</li>
                                <li class="check">Guide to Open Verified Accounts </li>
                            </ol>
                            <div class="price-btn blue">
                                <a class="blue" href="#">Invest</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div style="background-color: aliceblue;" class="pri_table_list">
                            <div class="top-price-inner">
                               <span class="base">Popular</span>
                               <div class="rates">
                                    <span class="prices">Intermediate </span>
                                </div>
                                <span class="per-day"><a style="text-decoration: line-through;">250000</a> /150000</span>
                            </div>
                            <ol class="pricing-text">
                                <li class="check">Basics to E-Education</li>
                                <li class="check">Live updates on news & events</li>
                                <li class="check">Guide to Open Verified Accounts </li>
                            </ol>
                            <div class="price-btn blue">
                                <a class="blue" href="#">Invest</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div style="background-color: aliceblue;" class="pri_table_list">
                            <span class="base">Best</span>
                            <div class="top-price-inner">
                               <div class="rates">
                                    <span class="prices">Pro</span>
                                </div>
                                <span class="per-day">Contact Support</span>
                            </div>
                            <ol class="pricing-text">
                                <li class="check">Basics to E-Education</li>
                                <li class="check">Live updates on news & events</li>
                                <li class="check">Guide to Open Verified Accounts </li>
                            </ol>
                            <div class="d-flex justify-content-center" >
                                <div class="row price-btn blue" style="margin-right: auto; margin-left: auto;">
                                    <a class="blue" href="#">Invest</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div> -->
    <!-- End Invest area -->

    <!--Start payment-history area -->
    <!--
    <div class="payment-history-area bg-color fix area-padding-2">
        <div class="container">
           <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h3>Deposite and withdrawals history</h3>
                        <p>Help agencies to define their new business objectives and then create professional software.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="deposite-content">
                        <div class="diposite-box">
                            <h4>Last deposite</h4>
                            <span><i class="flaticon-005-savings"></i></span>
                            <div class="deposite-table">
                                <table>
                                    <tr>
                                        <th>Name</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>Currency</th>
                                    </tr>
                                    <tr>
                                        <td>Admond sayhel</td>
                                        <td>Jan 02, 2020</td>
                                        <td>$1000</td>
                                        <td>Bitcoin</td>
                                    </tr>
                                    <tr>
                                        <td>Jonshon</td>
                                        <td>Dec 12, 2019</td>
                                        <td>$5000</td>
                                        <td>USD</td>
                                    </tr>
                                    <tr>
                                        <td>Hopper</td>
                                        <td>Dec 22, 2019</td>
                                        <td>$4000</td>
                                        <td>Ripple</td>
                                    </tr>
                                    <tr>
                                        <td>Admond sayhel</td>
                                        <td>Jan 02, 2020</td>
                                        <td>$3000</td>
                                        <td>Bitcoin</td>
                                    </tr>
                                    <tr>
                                        <td>Anjel july</td>
                                        <td>Jan 05, 2020</td>
                                        <td>$500</td>
                                        <td>USD</td>
                                    </tr>
                                    <tr>
                                        <td>Lagisha</td>
                                        <td>Jan 12, 2020</td>
                                        <td>$5000</td>
                                        <td>Bitcoin</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="deposite-content">
                        <div class="diposite-box">
                            <h4>Last withdrawals</h4>
                            <span><i class="flaticon-042-wallet"></i></span>
                            <div class="deposite-table">
                                <table>
                                    <tr>
                                        <th>Name</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>Currency</th>
                                    </tr>
                                    <tr>
                                        <td>Arnold</td>
                                        <td>Jan 04, 2020</td>
                                        <td>$1000</td>
                                        <td>USD</td>
                                    </tr>
                                    <tr>
                                        <td>Jhon Abra</td>
                                        <td>Jan 07, 2020</td>
                                        <td>$6000</td>
                                        <td>USD</td>
                                    </tr>
                                    <tr>
                                        <td>Lanisha</td>
                                        <td>Jan 13, 2020</td>
                                        <td>$5000</td>
                                        <td>USD</td>
                                    </tr>
                                    <tr>
                                        <td>Gongales</td>
                                        <td>Jan 12, 2020</td>
                                        <td>$2000</td>
                                        <td>USD</td>
                                    </tr>
                                    <tr>
                                        <td>Admond sayhel</td>
                                        <td>Jan 10, 2020</td>
                                        <td>$1000</td>
                                        <td>USD</td>
                                    </tr>
                                    <tr>
                                        <td>Remond</td>
                                        <td>Jan 02, 2020</td>
                                        <td>$3000</td>
                                        <td>USD</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    <!-- End payment-history area -->
    <!-- Start Banner Area -->
    <div class="banner-area area-padding"  style="margin-top: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="banner-all area-80 text-center">
                        <div class="banner-content">
                            <h3>DOKS Daily Briefings – World of investing in just 5 minutes</h3>
                            <p style="color: aliceblue;">Our daily briefings are designed with most accurate financial data and analysis so you can Learn what’s happening in the world of investing in just 5 minutes. We select investing insights from the world’s top investing experts.</p>
                            <a class="banner-btn" routerLink="/register">Sign up now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Gallery -->
    <!-- <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12  text-center">
                <h2 style="color: #e2e4ec;">Our 10 years success story</h2>
                <div style="width: 100%; height: 100%; text-align:center;margin-top:50px; padding:0;">
                    <ng-image-slider #nav
                        [images]="imageObject"
                        [infinite]="true"
                        [autoSlide]="1"
                        
                        slideImage="1"></ng-image-slider>
                    </div>
            </div>
        </div>
    </div> -->

    
   
    <!-- Start reviews Area -->
    <!-- <div class="reviews-area fix area-padding">
        <div class="container">
            <div class="row">
                <div class="reviews-top">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="testimonial-inner">
                            <div class="review-head">
                                <h3 style="color: aliceblue;">Our customer say about our company work</h3>
                                <p style="color: aliceblue;">The phrasal sequence of and commonplace that many DTP programmes can generate dummy. The phrasal sequence of the Lorem Ipsum text is now so widespread and commonplace that many DTP programmes can generate dummy</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="reviews-content" style="padding: 10px;">
                            <carousel style="height:400px;"
                                [cellWidth]="300">
                                <div class="carousel-cell" style="width: 300px;">
                                   
                                    <div class="testi-text">
                                        <div class="clients-text">
                                            <div class="client-rating">
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                            </div>
                                            <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                                        </div>
                                        <div class="testi-img ">
                                            <img src="assets/img/review/1.jpg" alt="">
                                            <div class="guest-details">
                                                <h4 style="color: aliceblue;">Hamilton</h4>
                                                <span style="color: aliceblue;" class="guest-rev">Clients - <a href="#">General customer</a></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="carousel-cell" style="width: 300px;">
                                   
                                    <div class="testi-text">
                                        <div class="clients-text">
                                            <div class="client-rating">
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                            </div>
                                            <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                                        </div>
                                        <div class="testi-img ">
                                            <img src="assets/img/review/1.jpg" alt="">
                                            <div class="guest-details">
                                                <h4 style="color: aliceblue;">Hamilton</h4>
                                                <span style="color: aliceblue;" class="guest-rev">Clients - <a href="#">General customer</a></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="carousel-cell" style="width: 300px;">
                                   
                                    <div class="testi-text">
                                        <div class="clients-text">
                                            <div class="client-rating">
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                            </div>
                                            <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                                        </div>
                                        <div class="testi-img ">
                                            <img src="assets/img/review/1.jpg" alt="">
                                            <div class="guest-details">
                                                <h4 style="color: aliceblue;">Hamilton</h4>
                                                <span style="color: aliceblue;" class="guest-rev">Clients - <a href="#">General customer</a></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="carousel-cell" style="width: 300px;">
                                   
                                    <div class="testi-text">
                                        <div class="clients-text">
                                            <div class="client-rating">
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                            </div>
                                            <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                                        </div>
                                        <div class="testi-img ">
                                            <img src="assets/img/review/1.jpg" alt="">
                                            <div class="guest-details">
                                                <h4 style="color: aliceblue;">Hamilton</h4>
                                                <span style="color: aliceblue;" class="guest-rev">Clients - <a href="#">General customer</a></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End reviews Area -->
    <!-- Start FAQ area -->
    <div class="faq-area bg-color area-padding" style="padding-top: 40px; padding-bottom: 50px; margin-bottom: 50px; margin-top: 50px;">
        <div class="container"> 
           <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h3>Some important FAQ</h3>
                        <p>Help agencies to define their new business objectives and then create professional software.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Start Column Start -->
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="company-faq">
                        <div class="faq-full">
                            <div class="faq-details">
                                <div class="panel-group" id="accordion">
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" class="active" data-parent="#accordion" href="#check1">
                                                    <span class="acc-icons"></span>How to successful our mission and vision
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check1" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <p>
                                                    When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection of text within a single line, the amount of words is roughly being maintained. 
                                                </p>		
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#check2">
                                                    <span class="acc-icons"></span>Clients satisfaction make company Value.
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection of text within a single line, the amount of words is roughly being maintained. 
                                                </p>										
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#check3">
                                                    <span class="acc-icons"></span>World class creative design and development firm. 
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check3" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <p>
                                                    When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection of text within a single line, the amount of words is roughly being maintained. 
                                                </p>	
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->	
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#check4">
                                                    <span class="acc-icons"></span>We are the best online flatform 
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check4" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <p>
                                                    When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection of text within a single line, the amount of words is roughly being maintained. 
                                                </p>	
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#check5">
                                                    <span class="acc-icons"></span>Clients satisfaction make company Value.
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check5" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection of text within a single line, the amount of words is roughly being maintained. 
                                                </p>										
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->										
                                </div>
                            </div>
                            <!-- End FAQ -->
                        </div>
                    </div>
                </div>
                <!-- End Column -->
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="faq-content">
                        <h4>Have a any qustion?</h4>
                        <div class="faq-quote">
                            <div class="row">
                                <form id="contactForm" method="POST" action="http://rockstheme.com/rocks/aievari-live/contact.php" class="contact-form">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" id="name" class="form-control" placeholder="Name" required data-error="Please enter your name">
                                        <div class="help-block with-errors"></div>
                                        <input type="email" class="email form-control" id="email" placeholder="Email" required data-error="Please enter your email">
                                        <div class="help-block with-errors"></div>
                                        <input type="text" id="msg_subject" class="form-control" placeholder="Subject" required="" data-error="Please enter your message subject">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <textarea id="message" rows="7" placeholder="Massage" class="form-control" required data-error="Write your message"></textarea>
                                        <div class="help-block with-errors"></div>
                                        <button type="submit" id="submit" class="quote-btn">Submit</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div> 
                                        <div class="clearfix"></div>
                                    </div>   
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Column -->
            </div>
        </div>
    </div>
    <!-- End FAQ area -->
   
    
    <!-- all js here -->
    <script src="../../assets/js/owl.carousel.min.js"></script>
</div>
